## values for grafana
---
serviceAccount:
  name: grafana

headlessService: true

deploymentStrategy:
  type: Recreate

image:
  tag: 10.4.19

testFramework:
  enabled: false

securityContext:
  fsGroupChangePolicy: OnRootMismatch

downloadDashboards:
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 50m
      memory: 64Mi

podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/port: "3000"
  match-regex.version-checker.io/grafana: '(\d+)\.(\d+)\.(\d+)'

service:
  port: 3000

ingress:
  enabled: true
  ingressClassName: nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/default-backend: shpaq-org
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
  path: /
  pathType: Prefix
  hosts:
    - grafana.shpaq.org
  tls:
    - secretName: grafana-tls
      hosts:
        - grafana.shpaq.org
  extraPaths: []

resources:
  limits:
    cpu: 250m
    memory: 400Mi
  requests:
    cpu: 100m
    memory: 150Mi

nodeSelector:
  kubernetes.io/role: worker

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: "kubernetes.io/ssd"
              operator: In
              values:
                - "true"

persistence:
  type: pvc
  enabled: true
  storageClassName: longhorn
  volumeName: "data-grafana"
  accessModes:
    - ReadWriteOnce
  size: 2Gi
  finalizers:
    - kubernetes.io/pvc-protection
  lookupVolumeName: true
  existingClaim: "data-grafana"
  extraPvcLabels: {}
  disableWarning: false
  inMemory:
    enabled: false

initChownData:
  resources:
    limits:
      cpu: 50m
      memory: 64Mi
    requests:
      cpu: 10m
      memory: 16Mi

admin:
  existingSecret: "grafana-admin-creds"

enableServiceLinks: true

extraVolumes:
  - name: data-grafana
    existingClaim: data-grafana

plugins:
  - vonage-status-panel
  - novatec-sdg-panel
  - farski-blendstat-panel
  - grafana-polystat-panel

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: prometheus
        access: proxy
        editable: false
        orgId: 1
        type: prometheus
        url: http://prometheus-server-headless:9090
        version: 1
        isDefault: true
      - name: influxdb
        type: influxdb
        typeName: InfluxDB
        access: proxy
        url: http://influxdb.apps:8086
        user: admin
        database: health
        orgId: 1
        basicAuth: false
        isDefault: false
        jsonData: {}
        readOnly: false
      - name: Loki
        type: loki
        typeName: Loki
        access: proxy
        url: http://loki.logging:3100
        timeout:
        orgId: 1
        basicAuth: false
        isDefault: false
        jsonData:
          manageAlerts: false
          tlsSkipVerify: true
          maxLines: 100000
          timeout: 500
        readOnly: false
      - name: PostgreSQL
        type: postgres
        typeName: PostgreSQL
        access: proxy
        url: morphine-postgresql-primary-hl.apps:5432
        user: postgres
        database: postgres
        basicAuth: false
        isDefault: false
        jsonData:
          postgresVersion: 1200
          sslmode: disable
          tlsAuth: false
          tlsAuthWithCACert: false
          tlsConfigurationMethod: file-path
          tlsSkipVerify: true
        readOnly: false

grafana.ini:
  app_mode: production
  instance_name: "{{ if (and .Values.ingress.enabled .Values.ingress.hosts) }}{{ tpl (.Values.ingress.hosts | first) . }}{{ else }}''{{ end }}"

  paths:
    logs: /var/lib/grafana/log
    provisioning: /var/lib/grafana/provisioning

  server:
    domain: "{{ if (and .Values.ingress.enabled .Values.ingress.hosts) }}{{ tpl (.Values.ingress.hosts | first) . }}{{ else }}''{{ end }}"
    enable_gzip: true
    socket: /tmp/grafana.sock

  security:
    encryption_provider: secretKey
    cookie_secure: true
    strict_transport_security: true
    strict_transport_security_preload: true
    content_security_policy: true
    content_security_policy_template: |
      script-src 'self' 'unsafe-eval' 'unsafe-inline' 'strict-dynamic' $NONCE;object-src 'none';font-src 'self';style-src 'self' 'unsafe-inline' blob:;img-src * data:;base-uri 'self';connect-src 'self' grafana.com ws://$ROOT_PATH wss://$ROOT_PATH;manifest-src 'self';media-src 'none';form-action 'self';

  snapshots:
    external_enabled: false

  dashboards:
    versions_to_keep: 5

  users:
    allow_sign_up: false
    allow_org_create: false

  auth.anonymous:
    enabled: false
    org_name: Szpacze Gniazdo
    org_role: Viewer
    hide_version: true

  auth.basic:
    enabled: false

  date_formats:
    default_timezone: 'Europe/Warsaw'
