{{- if .Values.hpa.memory.enabled }}
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ include "shpaq-org.fullname" . }}-mem-scale
  labels:
    {{- include "shpaq-org.labels" . | nindent 4 }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ include "shpaq-org.fullname" . }}
  minReplicas: {{ .Values.hpa.memory.minReplicas }}
  maxReplicas: {{ .Values.hpa.memory.maxReplicas }}
  metrics:
  - type: Resource
    resource:
      name: memory
      target:
        type: AverageValue
        averageValue: {{ .Values.hpa.memory.targetAverageValue }}
{{- end }}
{{- if .Values.hpa.cpu.enabled }}
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ include "shpaq-org.fullname" . }}-cpu-scale
  labels:
    {{- include "shpaq-org.labels" . | nindent 4 }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ include "shpaq-org.fullname" . }}
  minReplicas: {{ .Values.hpa.cpu.minReplicas }}
  maxReplicas: {{ .Values.hpa.cpu.maxReplicas }}
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: {{ .Values.hpa.cpu.targetAverageUtilization }}
{{- end }}
