---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "shpaq-org.fullname" . }}
  labels:
    {{- include "shpaq-org.labels" . | nindent 4 }}
spec:
  ports:
  - name: http
    port: 80
    targetPort: http
  selector:
    {{- include "shpaq-org.selectorLabels" . | nindent 4 }}
