body
{
	margin:0px;
	padding:0px;
	background-color:#2d2d2d;
	font-family:"Arial";
    font-size:20px;
    font-weight:bold;		
	text-align:center;
}

a
{
	color: #b3b3b3;
	text-decoration: none;
	outline: none;
}

a img 
{
    border: none;
}

input 
{
	width: 120px;
}

#loginform
{
	color: #b3b3b3;
	position:relative;		
	font-family:"Arial";
    font-size:16px;    
}

#loginfield, #passwordfield{
	margin-left:15px;
	height:25px; 
	width: 200px; 
	border: 1px solid #B9BDC1; 
	color: #797979; 
	-moz-box-shadow: 0 2px 4px #bbb inset; 
	-webkit-box-shadow: 0 2px 4px #BBB inset; 
	box-shadow: 0 2px 4px #BBB inset; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	border-radius: 3px; 	
}

#loginfield:focus, #passwordfield:focus{ 	
	border: 1px solid #b3b3b3;	
} 

#loginbutton
{
	font-size:16px;	
	background: #1d1d1d;
    color: #b3b3b3;
	border-radius: 15px;
	height:26px;
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;	
	padding: 1px 0px 1px 0px;
	margin-left: 10px;	
    border: solid 1px #b3b3b3;    
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

#userinfo 
{
	position:absolute;
	right:5px;	
	top: 76px;	
	font-family:"Arial";
	font-weight:normal;
    font-size:16px; 
	color: #888888;	
}

#message
{
	color: #FFFFFF;			
	font-family:"Arial";
    font-size:16px;    
}

#poweredby
{
	display:inline-block;
	width:100%;
	padding-top:20px;
	margin-top:80px;
	border-top: 1px #b3b3b3 solid; ;
	color: grey;			
	font-family:"Arial";
    font-size:13px;
    text-decoration:none;   
}

#logoutlink 
{
	color: #888888;	
    text-decoration: underline;
}

#group
{
	display: inline-block;
}

#comics
{			
	float: left;
	width: 148px;
	height: 148px;	

	background-image:url('/theme/comics.png');
	background-repeat:no-repeat;
	background-position:center bottom; 
	margin:40px;
	padding:15px;
} 

#books
{	
	float: left;	
	width: 148px;
	height: 148px;	

	background-image:url('/theme/books.png');
	background-repeat:no-repeat;
	background-position:center bottom; 
	margin:40px;
	padding:15px;
} 

#latest-comics
{			
	float: left;
	width: 132px;
	height: 132px;	

	background-image:url('/theme/latest-comics.png');
	background-repeat:no-repeat;
	background-position:center bottom; 
	margin:48px;
	padding:15px;
	font-size:16px;
} 

#latest-books
{	
	float: left;	
	width: 132px;
	height: 132px;	

	background-image:url('/theme/latest-books.png');
	background-repeat:no-repeat;
	background-position:center bottom; 
	margin:48px;
	padding:15px;
	font-size:16px;
} 

#files
{		
	float: left;
	width: 148px;
	height: 148px;	

	background-image:url('/theme/files.png');
	background-repeat:no-repeat;
	background-position:center bottom; 
	margin:40px;
	padding:15px;
} 


#banner
{
	top:0px;
	left:0px;
	height: 100px;
	width:100%;
    margin-bottom:60px;
	border-bottom: 1px #b3b3b3 solid; 
	background-image:url('/theme/banner.png');	
	background-repeat:no-repeat;
    background-position: 20px;  
}
