---
# Default values for calibre-web-automated (cwa)

#nameOverride: cwa
#fullnameOverride: cwa

global:
  timezone: Europe/Warsaw
  runAsUser: 568
  runAsGroup: 568
  resources:
    requests:
      cpu: 0.1
      memory: 128Mi
    limits:
      cpu: 1
      memory: 900Mi
  nodeSelector:
    kubernetes.io/role: worker

# Application components configuration
components:
  calibreWebAutomated:
    enabled: true
    image:
      repository: crocodilestick/calibre-web-automated
      tag: V3.1.4
      pullPolicy: IfNotPresent
    service:
      port: 8083
    env:
      FLASK_PORT: "8084"
      FLASK_DEBUG: "false"
      CLOUDFLARE_PROXY_URL: ""
      INGEST_DIR: "/books/ingest:/cwa-book-ingest"
      BOOK_LANGUAGE: "pl"
      DOCKER_MODS: "lscr.io/linuxserver/mods:universal-calibre-v7.16.0"
  
  bookDownloader:
    enabled: true
    image:
      repository: ghcr.io/calibrain/calibre-web-automated-book-downloader
      tag: 0.2.3
      pullPolicy: IfNotPresent
    service:
      port: 8084
    env:
      FLASK_PORT: "8084"
      LOG_LEVEL: "info"
      BOOK_LANGUAGE: "pl"
      USE_BOOK_TITLE: "true"
      APP_ENV: "prod"
      MAX_CONCURRENT_DOWNLOADS: "3"
      DOWNLOAD_PROGRESS_UPDATE_INTERVAL: "5"

# Storage configuration
storage:
  media:
    create: false
    existingClaim: media
    storageClass: local-path
    size: 1000Gi
  config:
    enabled: true
    storageClass: longhorn
    size: 1Gi

# Network configuration
networking:
  service:
    type: ClusterIP
  
  ingress:
    enabled: true
    className: "nginx"
    annotations:
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    hosts:
      - host: books.shpaq.org
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: books-shpaq-org-tls
        hosts:
          - books.shpaq.org
    certManager:
      clusterIssuer: "letsencrypt-stage"

# Security and service account
security:
  serviceAccount:
    create: true
    automount: true

# Monitoring
monitoring:
  diun:
    enabled: false

