---
# Media Stack Helm Chart Values

global:
  timezone: Europe/Warsaw
  runAsUser: 568
  runAsGroup: 568
  resources:
    requests:
      cpu: 0.1
      memory: 128Mi
    limits:
      cpu: 1
      memory: 900Mi
  nodeSelector:
    kubernetes.io/role: worker

media:
  bazarr:
    enable: true
    service:
      port: 6767
    storageSize: 1Gi

  lidarr:
    enable: true
    service:
      port: 8686
    storageSize: 1Gi

  prowlarr:
    enable: true
    service:
      port: 9696
    storageSize: 1Gi

  radarr:
    enable: true
    service:
      port: 7878
    storageSize: 1Gi

  readarr:
    enable: true
    service:
      port: 8787
    storageSize: 1Gi

  sonarr:
    enable: true
    service:
      port: 8989
    storageSize: 1Gi

transmission:
  enable: true
  storageSize: 1Gi
  curl:
    repository: "curlimages/curl"
    tag: "8.16.0"
  service:
    type: ClusterIP
    port: 9091
  loadbalancer:
    ip: "10.0.0.45"
    port: 51413

exportarr:
  service:
    port: 9707

calibreWeb:
  enable: false
  storageSize: 1Gi
  service:
    port: 8083

persistence:
  storageClass: local-path
  size: 1000Gi

# Configuration storage for SQLite databases and app configs
# Uses Longhorn for better performance with SQLite databases
configStorage:
  enabled: true
  storageClass: longhorn

images:
  radarr:
    repository: "lscr.io/linuxserver/radarr"
    # tag: "5.28.0"
    tag: "6.0.4"
  sonarr:
    repository: "lscr.io/linuxserver/sonarr"
    tag: "4.0.16"
  lidarr:
    repository: "lscr.io/linuxserver/lidarr"
    # tag: "2.14.5"
    tag: "3.1.0"
  prowlarr:
    repository: "lscr.io/linuxserver/prowlarr"
    tag: "2.3.0"
  readarr:
    repository: "lscr.io/linuxserver/readarr"
    tag: "0.4.18-develop"
  bazarr:
    repository: "lscr.io/linuxserver/bazarr"
    tag: "1.5.4"
  transmission:
    repository: "lscr.io/linuxserver/transmission"
    tag: "4.0.6"
  exportarr:
    repository: "ghcr.io/onedr0p/exportarr"
    tag: "v2.3.0"
  calibreWeb:
    repository: "lscr.io/linuxserver/calibre-web"
    tag: "0.6.25"
  busybox:
    repository: "busybox"
    tag: "1.37.0"

ingress:
  host: media.shpaq.org
  secretName: media-shpaq-org-tls
