apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-env
type: Opaque
data:
  {{- range $key, $val := .Values.env }}
  {{ $key }}: {{ $val | b64enc }}
  {{- end }}
  REDIRECT_URI: {{ printf "https://%s/callback" .Values.ingress.host | b64enc }}
