---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: gentoo
  name: gentoo
  namespace: apps
spec:
  ports:
  - name: distcc-tcp
    port: 3632
    targetPort: distcc-tcp
    protocol: TCP
  selector:
    app.kubernetes.io/name: gentoo
  type: LoadBalancer
  loadBalancerIP: 10.0.0.44
