---
# DEPRECATED: Consolidated into lint-all.yml
name: (Deprecated) Helm Linter
permissions:
  contents: read
  
on:
  workflow_dispatch: {}

jobs:
  kubeval:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Lint Helm
      uses: desaintmartin/helm-kubeval-action@master
      with:
        path: ./cluster/helm/
        config: ./docs
        strict: false
        ignore_missing_schemas: true
