---
name: Linter
permissions:
  contents: read

on:
  push:
    branches:
    - main

jobs:
  json-yaml-lint:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci-skip]')"
    steps:
      - uses: actions/checkout@v5
      - name: Validate JSON and YAML files
        uses: GrantBirki/json-yaml-validate@v4.0.0
        with:
          exclude_file: .github/validate-ignore.txt
